<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh_CN</string>
	</array>
	<key>NSLocationUsageDescription</key>
	<string>需要获取您的位置信息,以便您正常获取内容推荐</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>需要获取您的位置信息,以便您正常获取内容推荐</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>需要获取您的位置信息,以便您正常获取内容推荐</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要获取您的位置信息,以便您正常获取内容推荐</string>
	<key>NSCameraUsageDescription</key>
	<string>需要访问您的相机,以便您正常使用扫码,拍摄等服务</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要访问您的相册,以便您正常更新头像信息等内容</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问您的相册,以便您正常更新头像信息等内容</string>
	<key>CFBundleName</key>
	<string>DS</string>
	<key>CFBundleDisplayName</key>
	<string>DS</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
